{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
